CompileFlags:
  Add: [
    -std=c++23,
    "-isystem/nix/store/mw4gasdvwgscgpxpzihjgchfhs3hhqhn-clang-wrapper-21.1.8/resource-root/include",
    "-isystem/nix/store/n0flbxn0w105xr0d95rj605llxg6812f-opencv-4.13.0/include/opencv4",
    "-isystem/nix/store/bnkwbw788sfa6zsq30ps2m19ga44ycsf-apriltags-3.4.5/include",
    "-isystem/nix/store/qd70v8g0561vm8m33kmnp79z00cgyi5n-gcc-wrapper-15.2.0/include/c++/15.2.0",
    "-isystem/nix/store/qd70v8g0561vm8m33kmnp79z00cgyi5n-gcc-wrapper-15.2.0/include/c++/15.2.0/x86_64-unknown-linux-gnu",
    "-isystem/nix/store/qd70v8g0561vm8m33kmnp79z00cgyi5n-gcc-wrapper-15.2.0/include/c++/15.2.0/backward",
    "-isystem/nix/store/qd70v8g0561vm8m33kmnp79z00cgyi5n-gcc-wrapper-15.2.0/lib/gcc/x86_64-unknown-linux-gnu/15.2.0/include",
    "-isystem/nix/store/qd70v8g0561vm8m33kmnp79z00cgyi5n-gcc-wrapper-15.2.0/include",
    "-isystem/nix/store/qd70v8g0561vm8m33kmnp79z00cgyi5n-gcc-wrapper-15.2.0/lib/gcc/x86_64-unknown-linux-gnu/15.2.0/include-fixed",
    "-isystem/nix/store/fjkx1l5cnskzrqacf08z7i8z17256w0j-glibc-2.42-61/include"
  ]
  Remove: [ -isystem*, --std=gnu++23]
  Compiler: /nix/store/wm8ldw3xc402xyihlk43vlgl7knhr6g4-clang-21.1.8/bin/clang
